* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background: url('http://www.csun.edu/~asn71882/challenge09/bg.jpg');
  color: rgba(255, 255, 0, 0.747);

}

.grid {
  display: flex;
  flex-direction: row;
  border: 10px solid black;
  width: 400px;
  height: 700px;
  flex-wrap: wrap;
}

.grid div {
  width: 11.11%;
  height: 11.11%;
  border: 1px solid black;
}

.spaceShip {
  background: url('http://clipart-library.com/images/kcKboL5cj.jpg') no-repeat center center / contain;
  background-size: contain;
}

.laser {
  background: url('https://a.rgbimg.com/users/x/xy/xymonau/600/njdVUg0.jpg') no-repeat center center / contain;

}

.spaceInvader {
  background: url('https://i.ytimg.com/vi/f8iY3_2msR4/sddefault.jpg') no-repeat center center / contain;
  background-size: contain;

}

.bomb {

  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Mu_cephei.jpg/544px-Mu_cephei.jpg') no-repeat center center / contain;
  background-size: contain;

}

.playerScore {

  margin: 10px;
  padding: 5px;

}

.life {

  margin: 5px;
  padding: 5px;

}

.gameover {
  font: 12px;
  margin: 5px;
  padding: 5px;

}

.title {
  background:url('https://i.pinimg.com/originals/6b/bc/d9/6bbcd95e1f751a22c7bfa6928823e4ee.jpg') no-repeat center center /contain;
  opacity: .5;
  background-size: contain;
  width: 600px;
  height: 600px;
  margin: 10px;
}

.start {

  background: black;
  color: rgba(255, 255, 0, 0.747);
  border: 3px, solid, rgb(0, 0, 0);
  border-radius: 100px;
  padding: 10px;
  font-weight: bold;
  width: 120px;
}

.start2 {

display:none

}

.restart {

  background: black;
  color: rgba(255, 255, 0, 0.747);
  border: 3px, solid, rgb(0, 0, 0);
  border-radius: 100px;
  padding: 10px;
  font-weight: bold;
  width: 120px;

}