* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background: url('http://www.csun.edu/~asn71882/challenge09/bg.jpg');

}

.grid {
  display: flex;
  flex-direction: row;
  border: 10px solid black;
  width: 400px;
  height: 700px;
  flex-wrap: wrap;
}

.grid div {
  width: 11.11%;
  height: 11.11%;
  border: 1px solid black;
}

.spaceShip {
  background: url('http://clipart-library.com/images/kcKboL5cj.jpg') no-repeat center center / contain;
  background-size: contain;
}

.laser {
  background-color: lightgreen;
  background-size: contain;

}

.spaceInvader {
  background: url('https://i.ytimg.com/vi/f8iY3_2msR4/sddefault.jpg') no-repeat center center / contain;
  background-size: contain;

}

.spaceInvader2 {
  background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR28xDPCGFuZeDE8SqjPaAYJKMvRD7uQCmgTIPCcTyOX2afJhXWP6y_rZurF5qKwnbvyQM&usqp=CAU') no-repeat center center /contain
}

.explosion {

  background-color: orange;
  background-size: contain;

}

.playerScore {

  
}